<form action="/celebrities/add-celebrity" method="POST">

    <label for="name">Name</label>
    <input type="text" id="name" name="name">

    <label for="ocup">Occupation</label>
    <input type="text" id="ocup" name="occupation">

    <label for="phr">Cathing phrase</label>
    <input type="text" id="phr" name="catchPhrase">

    <button>Añadir celebrity</button>
</form>