<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="./celebrities/add-celebrity">Add a new celebrity</a>
<a href="./movies/add-movie">Add a new movie</a>
<a href="./celebrities/">Check celebrities</a>
<a href="./movies/movies">Check movies</a>