<form action="/movies/{{id}}/edit" method="POST">
    <label for="tit">Title</label>
    <input type="text" id="tit" name="title" value="{{title}}">
    <label for="tit">Genre</label>
    <input type="text" id="gen" name="genre" value="{{genre}}">
    <label for="tit">Plot</label>
    <input type="text" id="plo" name="plot" value="{{plot}}">

    <button type="submit">Edit</button>

</form>